[submodule "Dependencies/MedtrumKit"]
	path = Dependencies/MedtrumKit
	url = https://github.com/vanzaam/MedtrumKit.git
	branch = dev
[submodule "Dependencies/OmniBLE"]
	path = Dependencies/OmniBLE
	url = https://github.com/vanzaam/OmniBLE.git
	branch = dev
[submodule "Dependencies/LoopOnboarding"]
	path = Dependencies/LoopOnboarding
	url = https://github.com/vanzaam/LoopOnboarding.git
	branch = main
[submodule "Dependencies/NightscoutService"]
	path = Dependencies/NightscoutService
	url = https://github.com/vanzaam/NightscoutService.git
	branch = dev
[submodule "Dependencies/LoopSupport"]
	path = Dependencies/LoopSupport
	url = https://github.com/vanzaam/LoopSupport.git
	branch = main
[submodule "Dependencies/MinimedKit"]
	url = https://github.com/vanzaam/MinimedKit.git
	path = Dependencies/MinimedKit
	branch = main
[submodule "Dependencies/OmniKit"]
	url = https://github.com/vanzaam/OmniKit.git
	path = Dependencies/OmniKit
	branch = main
[submodule "Dependencies/RileyLinkKit"]
	path = Dependencies/RileyLinkKit
	url = https://github.com/vanzaam/RileyLinkKit.git
	branch = dev
[submodule "Dependencies/dexcom-share-client-swift"]
	path = Dependencies/dexcom-share-client-swift
	url = https://github.com/vanzaam/dexcom-share-client-swift.git
	branch = dev
[submodule "Dependencies/LibreTransmitter"]
	path = Dependencies/LibreTransmitter
	url = https://github.com/vanzaam/LibreTransmitter.git
[submodule "Dependencies/LoopKit"]
	path = Dependencies/LoopKit
	url = https://github.com/vanzaam/LoopKit.git
	branch = dev
[submodule "Dependencies/rileylink_ios"]
	path = Dependencies/rileylink_ios
	url = https://github.com/vanzaam/rileylink_ios.git
	branch = master
